@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D0D0D0;
}

form {
    width: 80%;
    height: 95%;
}

fieldset {
    background-color: #FCFCFC;
    border: none;
    border-radius: 22px;
    box-shadow: 10px 10px 0px #959595;
}

textarea {
    overflow-y: scroll;
}

.required {
    color: red;
}

select {
    box-shadow: 5px 5px 5px #959595;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: auto;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border: solid #D0D0D0 0.3px;
    box-shadow: 5px 5px 5px #959595;
    /* soit couleur, soit ombrage*/
    /* background-color: lavender;*/
}

::placeholder {
    color: #6B6B6B;
}


/* ne marche pas le width*/

.title {
    width: 100px;
    background-color: lavender;
}