@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d0d0d0;
}

fieldset {
    background-color: #fcfcfc;
    border: none;
    border-radius: 22px;
    box-shadow: 10px 10px 0px #959595;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 20%;
    left: 35%;
}

.required {
    color: red;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: auto;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border: solid #d0d0d0 0.3px;
    box-shadow: 5px 5px 5px #959595;
    /* soit couleur, soit ombrage*/
    /* background-color: lavender;*/
}
input[type="submit"] {
    width: 200px;
    border-radius: 10px;
    color: black;
    background-color: #fcfcfc;
    outline: none;
    border: solid #d0d0d0 0.3px;
    box-shadow: 5px 5px 5px #959595;
}

::placeholder {
    color: #6b6b6b;
}
